name: Doxa CICD

on:
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      DAGSHUB_URI: ${{ secrets.DAGSHUB_URI }}
      DAGSHUB_USERNAME: ${{ secrets.DAGSHUB_USERNAME }}
      DAGSHUB_TOKEN: ${{ secrets.DAGSHUB_TOKEN }}
      DAGSHUB_REPO: ${{ secrets.DAGSHUB_REPO }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
      DATASET_BUCKET_NAME: ${{ secrets.DATASET_BUCKET_NAME }}
      PYTHONPATH: .

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Install uv
      uses: astral-sh/setup-uv@v2

    - name: Set up Python
      run: uv python install 3.10

    - name: Sync Dependencies
      run: uv sync --all-extras --dev

    - name: Run DVC Pipeline
      run: uv run dvc repro

    - name: Run Model Tests
      run: uv run python tests/model_tests.py

    - name: Run App Tests
      run: uv run python tests/app_tests.py

    - name: Promote Model
      if: success()
      run: uv run python src/model/model_promotion.py

    - name: Upload Vectorizer Artifact
      uses: actions/upload-artifact@v4
      with:
        name: vectorizer
        path: models/vectorizer.pkl

  build:
    needs: test
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Download Vectorizer Artifact
      uses: actions/download-artifact@v4
      with:
        name: vectorizer
        path: models

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_DEFAULT_REGION }}

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build, tag, and push image to Amazon ECR
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: app
        IMAGE_TAG: latest
      run: |
        docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
